.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;

	img {
		width: 100%;
		max-width: 768px;
    margin: 15px 0;
	}
}
